/* site.css */
#sidebar {
    background: #2a2c36;
    color: #eee;
    position: fixed;
    height: 100%;
    width: 250px;
    overflow: hidden;
    left: 0;
    margin: 0;
    -moz-transition: left ease .25s;
    -o-transition: left ease .25s;
    -webkit-transition: left ease .25s;
    transition: left ease .25s;
}

    #sidebar.hide-sidebar {
        left: -250px;
        -moz-transition: left ease .25s;
        -o-transition: left ease .25s;
        -webkit-transition: left ease .25s;
        transition: left ease .25s;
    }

#wrapper {
    margin: 0 0 0 250px;
    -moz-transition: margin-left ease .25s;
    -o-transition: margin-left ease .25s;
    -webkit-transition: margin-left ease .25s;
    transition: margin-left ease .25s;
}

    #wrapper.hide-sidebar {
        margin-left: 0;
        -moz-transition: margin-left ease .25s;
        -o-transition: margin-left ease .25s;
        -webkit-transition: margin-left ease .25s;
        transition: margin-left ease .25s;
    }

.headshot {
    max-width: 50px;
    border: 1px solid #222;
}

.menu {
    font-size: 12px;
}

    .menu li {
        list-style-type: none;
    }

        .menu li.active {
            font-weight: bold;
        }

.div-table {
    display: table;
    width: auto;
    background-color: #eee;
    border: 1px solid #666666;
    border-spacing: 5px; /*cellspacing:poor IE support for  this*/
    height: 100%;
}

.div-table-row {
    display: table-row;
    width: auto;
    height: 100%;
    clear: both;
}

.div-table-cell {
    float: left; /*fix for  buggy browsers*/
    display: table-cell;
    width: 100px;
    background-color: #666666;
    border: solid;
    border-width: thin;
    padding-left: 5px;
    padding-right: 5px;
    height: 100%;
}

.div-table-cell-header {
    float: left; /*fix for  buggy browsers*/
    display: table-cell;
    width: 100px;
    background-color: #333333;
    border: solid;
    font: bold;
    border-width: thin;
    padding-left: 5px;
    padding-right: 5px;
    height: 100%;
}

.div-table-cell-btn {
    width: 100%;
    padding-left: 0;
    padding-right: 0;
}
